

.edit-trip {
	background-color: white;
}

.edit-trip form {
	border: 2px solid rgb(0, 99, 151, .75);
	/*text-align: left;*/
	margin: 15px;
	padding: 15px;
	background-color: rgb(0, 99, 151, .05);
	border-radius: 5px;
	box-shadow: 5px 10px 18px #888888;
}

.edit-trip h2 {
	border: 0px;
	margin-top: 0px;
}

.edit-trip p {
	font-size: 15px;
}

.edit-trip input{
	padding: 7px;
	margin: 7px;
	border-radius: 5px;
	width:200px;
}

.edit-trip button {
	margin-bottom: 10px;
	margin-top: 10px;
}


.delete-form {
	background-color: red;
}

.delete-trip-wrapper {
	border: 2px solid red;
	margin: 15px;
	padding: 10px;
	background-color: rgb(0, 99, 151, .05);
	border-radius: 5px;
	box-shadow: 5px 10px 18px #888888;
}

.add-collaborator {
	background-color: transparent;
	color: black;
	text-decoration: underline;
	font-weight: normal;
	padding: 2px;
	margin-bottom: 15px;
}

.add-collaborator:hover {
	background-color: transparent;
	color: blue;
}