/*
MEDIA QUERIES
*/

/*Landscape phones*/

@media only screen 
  and (min-width: 320px) 
  and (max-width: 732px)
  and (orientation: landscape) {
    

}

/*screen size small*/

@media only screen 
  and (min-width: 320px) 
  and (max-width: 645px)
  {


}  

/* screen size medium*/
  @media only screen 
  and (min-width: 645px) 
  and (max-width: 1000px)
  {

  .itinerary-list-wrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }



} 

/* screen size large */
  @media only screen 
  and (min-width: 1000px)
  {
 .itinerary-list-wrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

} 
/*  and (max-device-width: 1600px) */