.itinerary-item-form {
	border: 2px solid rgb(0, 99, 151, .5);
	margin: 15px;
	padding: 15px;
	background-color: rgb(0, 99, 151, .6);
	border-radius: 5px;
}

.itinerary-item-form input{
	padding: 7px;
	margin: 7px;
	border-radius: 5px;
	width:200px;
}

.itinerary-item-form label {
	font-size: 17px;
}

.itinerary-item-form select {
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 15px;

}

.itinerary-item-form button {
	border: 2px solid rgb(255, 255, 255, .5);
	background-color: #00AA9B;
}

.itinerary-item-form button:hover {
	cursor: pointer;
	background-color: teal;
}

/*
MEDIA QUERIES
*/

/*screen size small*/

@media only screen 
	and (min-width: 320px) 
	and (max-width: 645px) {
	
	.itinerary-item-form {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

}  

/* screen size medium*/
	@media only screen 
	and (min-width: 645px) 
	and (max-width: 1000px) {
  
	.itinerary-item-form {
	    max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
} 

/* screen size large */
	@media only screen 
	and (min-width: 1000px)
	{

	.itinerary-item-form {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		font-size: 2em;
	}
} 