.registration-area {
	padding-top: 15px;
	display:flex;
	flex-direction: column;
	border-top: 2px solid black;
	padding-bottom: 20px;
	border: solid black 3px;
	margin: 10px;

}

.registration-area h3 {
	font-size: 25px;
 	margin-top: 0px;
 	margin-bottom: 10px;
}

.registration-area label {
	padding: 10px;
	margin: 10px;
	font-size: 20px;

}



.registration-area input {
	font-size: 15px;
	border-radius: 6px;
	padding: 8px;
	margin: 8px;
}



/*
MEDIA QUERIES
*/

/*Landscape phones*/

@media only screen 
  and (min-width: 320px) 
  and (max-width: 732px)
  and (orientation: landscape) {
    

}

/*screen size small*/

@media only screen 
  and (min-width: 320px) 
  and (max-width: 645px)
  {


}  

/* screen size medium*/
  @media only screen 
  and (min-width: 645px) 
  and (max-width: 1000px)
  {
  


} 

/* screen size large */
  @media only screen 
  and (min-width: 1000px)
  {
 

} 
/*  and (max-device-width: 1600px) */