* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.trips ul {
  border: 1px solid black;
  list-style-type: none;
  padding: 0;
}
.trips li {
  padding: 15px;
  background-color: white;
}

.trips li:nth-of-type(2n) {
  background-color: lightgrey;
} 